Repository OntoUML/OntoUML, changes with the owners that CODEOWNERS names for each.
All owners: @OntoUML/ontouml-docs-maintainers, @MarekSuchanek, @OntoUML/openponk-developers

Removed role as allowed supertype
  classes/sortals/phase/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Removed role as allowed supertype
  classes/sortals/phase/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Issue 70 Solved
  classes/sortals/collective/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Issue 68 solved
  classes/aspects/mode/_images/4611138_orig.png
  classes/aspects/mode/examples.rst
Owners: @OntoUML/ontouml-docs-maintainers

Issue 66 solved
  classes/nonsortals/category/meta.yml
  classes/nonsortals/rolemixin/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Structuration association removed
  relationships/index.rst
  relationships/structuration/definition.rst
  relationships/structuration/descriptor.yml
  relationships/structuration/examples.rst
  relationships/structuration/faq.rst
  relationships/structuration/index.rst
  relationships/structuration/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

References to structuration removed from meta.yml files
  classes/aspects/mode/meta.yml
  classes/nonsortals/category/meta.yml
  classes/nonsortals/mixin/meta.yml
  classes/nonsortals/phasemixin/meta.yml
  classes/nonsortals/rolemixin/meta.yml
  classes/sortals/collective/meta.yml
  classes/sortals/kind/meta.yml
  classes/sortals/phase/meta.yml
  classes/sortals/quantity/meta.yml
  classes/sortals/relator/meta.yml
  classes/sortals/role/meta.yml
  classes/sortals/subkind/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Issue 73 solved
  classes/aspects/mode/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Issue 29 Solved
  classes/nonsortals/category/meta.yml
  classes/nonsortals/mixin/meta.yml
  classes/nonsortals/phasemixin/meta.yml
  classes/nonsortals/rolemixin/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

References to aspects removed
  classes/index.rst
  classes/sortals/mode/_images/4611138_orig.png
  classes/sortals/mode/_images/6216663_orig.png
  classes/sortals/mode/_images/ontouml_mode-application-1.png
  classes/sortals/mode/_images/ontouml_mode-examples.png
  classes/sortals/mode/_images/ontouml_mode-forbidden-1.png
  classes/sortals/mode/_images/ontouml_mode-forbidden-2.png
  classes/sortals/mode/_images/ontouml_mode-forbidden-3.png
  classes/sortals/mode/constraints.rst
  classes/sortals/mode/definition.rst
  classes/sortals/mode/descriptor.yml
  classes/sortals/mode/examples.rst
  classes/sortals/mode/faq.rst
  classes/sortals/mode/index.rst
  classes/sortals/mode/meta.yml
  classes/sortals/quality/_images/ontouml_quality-application-1.png
  classes/sortals/quality/_images/ontouml_quality-application-2.png
  classes/sortals/quality/_images/ontouml_quality-application-4.png
  classes/sortals/quality/_images/ontouml_quality-examples.png
  classes/sortals/quality/_images/ontouml_quality-forbidden-1.png
  classes/sortals/quality/_images/ontouml_quality-forbidden-2.png
  classes/sortals/quality/_images/ontouml_quality-forbidden-3.png
  classes/sortals/quality/constraints.rst
  classes/sortals/quality/definition.rst
  classes/sortals/quality/descriptor.yml
  classes/sortals/quality/examples.rst
  classes/sortals/quality/faq.rst
  classes/sortals/quality/index.rst
  classes/sortals/quality/meta.yml
  updatingIndex.yaml
Owners: @OntoUML/ontouml-docs-maintainers, @OntoUML/openponk-developers

Aspects removed from Mode and Quality metafiles
  classes/sortals/mode/meta.yml
  classes/sortals/quality/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Ontological Nature included
  classes/nonsortals/category/meta.yml
  classes/nonsortals/mixin/meta.yml
  classes/nonsortals/phasemixin/meta.yml
  classes/nonsortals/rolemixin/meta.yml
  classes/sortals/collective/meta.yml
  classes/sortals/kind/meta.yml
  classes/sortals/mode/meta.yml
  classes/sortals/phase/meta.yml
  classes/sortals/quality/meta.yml
  classes/sortals/quantity/meta.yml
  classes/sortals/relator/meta.yml
  classes/sortals/role/meta.yml
  classes/sortals/subkind/meta.yml
  ontouml.py
Owners: @OntoUML/ontouml-docs-maintainers, @MarekSuchanek

Presentation of Identity Principles Uniformized
  classes/sortals/collective/meta.yml
  classes/sortals/kind/meta.yml
  classes/sortals/phase/meta.yml
  classes/sortals/quantity/meta.yml
  classes/sortals/relator/meta.yml
  classes/sortals/role/meta.yml
  classes/sortals/subkind/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Removed repetitions in meta.yml files and removed Category example C4
  classes/nonsortals/category/constraints.rst
  classes/nonsortals/category/meta.yml
  classes/nonsortals/mixin/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Issue 20 Solved
  classes/sortals/role/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Added category as allowed stereotype
  classes/sortals/phase/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Added Category and PhaseMixin to allowed stereotypes
  classes/sortals/role/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Added additional allowed stereotypes per OntoUML 2.0 definition
  classes/nonsortals/category/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Added category as allowed supertype
  classes/nonsortals/mixin/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Added Category asAllowed supertype and RoleMixin and Role as allowed subtypes
  classes/nonsortals/phasemixin/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Added PhaseMixin and Category to allowed supertypes
  classes/nonsortals/rolemixin/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Fixed typo in text
  classes/sortals/quantity/definition.rst
Owners: @OntoUML/ontouml-docs-maintainers

Removed constraint C4 as it no longer holds in OntoUML 2.0
  classes/nonsortals/category/constraints.rst
Owners: @OntoUML/ontouml-docs-maintainers

Changed C2 to allow category as supertype of mixin
  classes/nonsortals/mixin/constraints.rst
Owners: @OntoUML/ontouml-docs-maintainers

Added category as allowed supertype of mixin
  classes/nonsortals/mixin/_images/ontouml_mixin-forbidden-1.png
Owners: @OntoUML/ontouml-docs-maintainers

Fixed documentation for mode
  classes/aspects/mode/_images/6216663_orig.png
  classes/aspects/mode/constraints.rst
  classes/aspects/mode/examples.rst
Owners: @OntoUML/ontouml-docs-maintainers

Update definition.rst
  relationships/formal/definition.rst
Owners: @OntoUML/ontouml-docs-maintainers

Update meta.yml
  relationships/aggregations/memberOf/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Updated relational dependency for constraints for role
  classes/sortals/role/constraints.rst
Owners: @OntoUML/ontouml-docs-maintainers

Update definition.rst
  relationships/formal/definition.rst
Owners: @OntoUML/ontouml-docs-maintainers

Corrected typos in individuals.rst
  theory/individuals.rst
Owners: @OntoUML/ontouml-docs-maintainers

Updated parent for kind, collective, quantity and relator
  classes/sortals/collective/meta.yml
  classes/sortals/kind/meta.yml
  classes/sortals/quantity/meta.yml
  classes/sortals/relator/meta.yml
Owners: @OntoUML/ontouml-docs-maintainers

Updated Kind
  classes/sortals/kind/constraints.rst
  classes/sortals/kind/definition.rst
Owners: @OntoUML/ontouml-docs-maintainers

Updated SubKind
  classes/sortals/subkind/constraints.rst
Owners: @OntoUML/ontouml-docs-maintainers

Updated Phase
  classes/sortals/phase/constraints.rst
Owners: @OntoUML/ontouml-docs-maintainers

Updated Quantity
  classes/sortals/quantity/constraints.rst
Owners: @OntoUML/ontouml-docs-maintainers

Updated Relator
  classes/sortals/relator/constraints.rst
Owners: @OntoUML/ontouml-docs-maintainers

Updated Mode
  classes/aspects/mode/constraints.rst
Owners: @OntoUML/ontouml-docs-maintainers

Updated incorrect reference in Mode constraints
  classes/aspects/quality/constraints.rst
Owners: @OntoUML/ontouml-docs-maintainers

Updated Mode constraints (previous commit edited Quality)
  classes/aspects/mode/constraints.rst
Owners: @OntoUML/ontouml-docs-maintainers

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Everything related to the documentation content
*                     @OntoUML/ontouml-docs-maintainers


# Repository "DevOps"
.gitignore            @MarekSuchanek
CODEOWNERS            @MarekSuchanek
.github/*             @MarekSuchanek
*.py                  @MarekSuchanek
requirements.txt      @MarekSuchanek


# OpenPonk stuff
updatingIndex.yaml    @OntoUML/openponk-developers
